<%- include ../include/header.ejs %>



<div id="salle">
    <div class="btn-group btn-group-justified btn-group-xs" id="tools">
        <a class="btn btn-default" id="swipe">
            <span class="glyphicon glyphicon-unchecked"></span>
        </a>
    </div>
</div>
<script type="text/javascript" src="/static/js/salle/draw.js"></script>
<script type="text/javascript" src="/static/js/salle/colors.js"></script>
<%- include ../include/footer.ejs %>