<%- include include/header.ejs %>

<div id="login">

    <form action="" method="POST" class="form-horizontal center-block">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label text-right">Username</label>
            <div class="col-sm-10">
                <input class="form-control" type="datetime" placeholder="Username" id="username" name="username" value="spywen">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label text-right">Password</label>
            <div class="col-sm-10">
                <input class="form-control" type="password" placeholder="Password" id="password" name="password" value="cisco">
            </div>
        </div>
        <input type="submit" value="Login" class="btn btn-lg btn-info"/>
        <a class="btn btn-primary btn-lg" href="/register">Register</a>
    </form>

</div>

<%- include include/footer.ejs %>