html,body{
  padding: 10px;
}

#salle{
  #canvas{
    border:solid black 1px;
    cursor:url(/static/img/favicon.png),url(/static/img/favicon.png),auto;;
  }
  #tools{
    width: 60%;
    margin:10px;
  }
}