html,body{
  padding: 10px;
  min-width: 650px;
}
.clear{
  clear:both;
}

.page-header{
  h1{
    .title{
      &:hover{
        text-decoration: none;
      }
      color:#333;
    }
  }

}

#salle{
  #canvas{
    border: solid rgb(233, 233, 233) 2px;
    border-radius: 5px;
    &.pencil{
      cursor:url(/static/img/pencil.png),auto;
    }
    &.swipe{
      cursor:url(/static/img/swipe.png),auto;
    }
  }
  #tools{
    margin: auto;
  }
  #container_draw{
    width:630px;
    margin: auto;
  }
  #container_chat{
    .panel-footer{
      .row{
        padding:0 10px;
      }
      .col-md-8{
        padding-right: 0;
        padding-left: 5px;
        input{
          position:relative;
          left:-5px;
        }
      }
    }

    #messagesArea{
      max-height: 175px;
      overflow-y: scroll;
      .row{
        word-break: break-all;
        padding: 0 10px;
        &.message{
          color: #5e5e5e;
        }
        &.me{
          strong{
            color: rgb(97, 198, 255);
          }
          color: #5e5e5e;
        }
        &.error{
          strong{
            color: rgb(97, 198, 255);
          }
          color: #d76b7d;
          font-size: 10px;
        }
        &.join{
          strong{
            font-style: italic;
          }
          span{
            &.message{
              font-style: italic;
            }
          }
          font-size: 10px;
          color: #88a8ff;
        }
        &.bye{
          strong{
            font-style: italic;
          }
          span{
            &.message{
              font-style: italic;
            }
          }
          font-size: 10px;
          color: #d76b7d;
        }
        .time{
          font-size: 9px;
          color: #dddddd;
        }
      }
    }
  }
}

#rooms{
  form{
    margin-bottom: 30px;
  }
  table{
    width:80%;
    margin: auto;
  }
}

